.realizar-vendas-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-left: 250px; /* ajuste conforme necessário para corresponder à largura da sua barra lateral */
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
  }
  
  .input-group button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .tabela-produtos-disponiveis,
  .tabela-produtos-selecionados {
    margin-bottom: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .table-wrapper {
    max-height: 300px;
    overflow-y: auto;
  }
  

  .tabela-produtos-disponiveis,
.tabela-produtos-selecionados {
  max-height: 300px; /* Define a altura máxima para 300 pixels */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical caso necessário */
}

  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  .app-container {
    display: flex;
    height: 100vh; /* Altura total da janela do navegador */
  }
  
  .content-container {
    flex-grow: 1; /* Ocupa todo o espaço restante */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se necessário */
  }
  
  
  .btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  